{% extends 'layout.html' %}
{% block title %}
Welcome to Our Gas Utility Services
{% endblock %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
    }

    .navbar {
        background-color: #007bff;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .navbar-brand,
    .navbar-nav .nav-link {
        color: #ffffff;
        font-weight: bold;
        font-size: 20px;
    }

    .container {
        margin-top: 50px;
    }

    h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    .card {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 30px;
    }

    .card-header {
        background-color: #007bff;
        color: #ffffff;
        font-weight: bold;
        font-size: 24px;
        border-bottom: none;
    }

    .card-body {
        padding-top: 20px;
    }

    .nav-link:hover {
        color: #ffffff;
    }
</style>
<div class="jumbotron">
    <h1 class="text-center">Welcome to Our Gas Utility Services </h1>
  </div>

{% endblock %}